<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-ev-front-fill"></i>
    </a>
    <span class="navbar-brand mx-auto">DRIVERS ROULETTE</span>
  </div>
</nav>

<div class="container mt-2" *ngIf="names.length > 1">
  <div class="row row-cols-3">
    <div class="col" *ngFor="let name of names; let i = index">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/{{name}}.jpeg" class="img-fluid rounded-start" alt="..." style="height: 100%">
          </div>
          <div class="col-md-8" [ngClass]="{'bg-danger': cardColors[i]}">
            <div class="card-body">
              <h5 class="card-title">{{ name }}</h5>
              <p class="card-text">{{ getCardText(name) }}</p>
              <button type="button" class="btn btn-danger"
                      [ngClass]="{'btn-danger': !cardColors[i], 'btn-success': cardColors[i]}"
                      (click)="toggleCardColor(i)">
                <i *ngIf="!cardColors[i]" class="bi bi-trash"></i>
                <i *ngIf="cardColors[i]" class="bi bi-check-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-3">
    <div class="col"></div>
    <button class="btn btn-primary"
            (click)="roulette()">
      CLICCA E SCOPRI CHI SARA' L'UBER
    </button>
  </div>

  <div class="row row-cols-3" *ngIf="result">
    <div class="col"></div>
    <div class="card mt-3 bg-dark">
      <div class="card-body">
        <div class="text-light text-center">
          {{ result.toUpperCase() }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2" *ngIf="names.length < 2">
  <div class="row">
    <div class="card mt-3">
      <div class="card-body">
        <div class="text-center">
          DEVONO ESSERCI ALMENO 2 CLOWN PER SCEGLIERE L'UBER
        </div>
      </div>
    </div>
  </div>
</div>
