<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drivers Roulette</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      text-align: center;
    }

    .selection-box {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Drivers Roulette</h1>

  <div class="selection-box">
    <div class="row">
      <div *ngFor="let name of names; let i = index"
           class="col-xl-3 col-lg-6 mb-4">
        <div class="card">
          <div class="card-body" [ngClass]="{'bg-danger': cardColors[i]}">
            <div class="d-flex align-items-center">
              <img
                src="assets/images/{{name}}.jpeg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ml-3">
                <p class="fw-bold mb-1">{{ name }}</p>
              </div>
              <div class="ml-auto">
                <button type="button" class="btn btn-danger"
                        [ngClass]="{'btn-danger': !cardColors[i], 'btn-success': cardColors[i]}"
                        (click)="toggleCardColor(i)">
                  <i *ngIf="!cardColors[i]" class="fa fa-trash"></i>
                  <i *ngIf="cardColors[i]" class="fa fa-check"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mt-3"
          (click)="roulette()">
    Clicca
  </button>

  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex align-items-center">
        L'uber di sta sera è... {{ result }}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
